
/* Общие CSS стили */
*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display';
   font-weight: normal;
   letter-spacing: 1px;
}
body {
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 11px;
   line-height: 1;
   color: #F1F1F1;
   background: white;
}

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1400px;
   padding: 0 15px;
}

.container-two {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 100%;
 
}

nav.container.top{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


/* Стили для шапки и её содержимого */
header {
   width: 100%;
   background: #FFF;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 10px 0;
   position: relative;
}

.form_wr{
   width: 200px;
   transform: translateX(50%);
   height: 50px;
}


nav.top a{
   height: 40px;
   display: flex;
   align-items: center;
}

nav.top a img{
   display: block;
   height: 40px;
   width: 40px;
}

nav.top a p{
   color: #0E345A;
   font-size: 14px;
   text-transform: capitalize; 
   letter-spacing: 2px;
   font-weight: 650;
   padding: 0 20px;
}

.user p:hover{
   color: #86AACF;
}

#logoname1 a { 
   color: #0E345A;
   font-size: 13px;
   text-transform: uppercase; /*все заглавные */
   letter-spacing: 1px;  /*расстояние между буквами  */
   font-weight: 650;   /* обводка текста ( насыщенность ) */
   display: block;
   line-height: 18px; /*величина пространства между строками*/
   margin-left: 0px; /*отступ слева*/
}

#logoname1 p{
   margin-bottom:10;
 }
#logoname1 p1{
   margin-bottom:0; 
   font-weight: 1000px; 
   color: #A1A1A1;
   font-size: 10px;
}



form{
   display: inline-block;
   position: relative;
   width: 20px;
   height: 20px;
   background: white;
}

input{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;;
   height: 42.5px;
   line-height: 30px;
   outline: 0;
   border: 0;
   display: none;
   font-size: 1em;
   border-radius: 20px;
   padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}




/* форма поиска */
#searchform {
   float: center;
   margin-left: 370px;
   display: inline-block;
   position: relative;

}
#searchform input {
   width: 230px;
   float: left;
   border: 10 px;
   padding-left: 10px;
   height: 45px;
   overflow: hidden;
   outline: none;
   color: #9E9C9C;
   font-style: italic;
}
#searchform button {
   background: transparent;
   height: 40px;
   border: none;
   position: absolute;
   right: 10px;
   color: #FFC0CB;
   cursor: pointer;
   font-size: 18px;

}
#searchform input:focus {
   outline: 2px solid #EBEBE3;
} 

/* меню */
#menu{
   display: flex;
   justify-content: flex-end;
   padding: 10px 0;
}
#menu li {
   display: inline-block;
   margin-left: 30px;
} 
#menu a { 
   color: white;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 650;
   display: flex;
   line-height: 30px; 
   white-space: nowrap;
}

#menu2 a { 
   text-align: center;
   margin-top:50px;
   color: #0E345A;
   font-size: 35px;
}

#menu li:last-child {
   margin-right: 0;
}


/* второй контейнер */
.posts-list {
   margin-bottom: 30px;
   width: 100%;
   margin: auto;
}
/* блок для статьи */
.post {
   margin-bottom: 35px;
}

.post-image {
   margin-bottom: 30px;
   margin-top:50px;
}
.category {
   margin-bottom: 15px;
}
.category a {
   color: white;
 
   letter-spacing: 2px;
   font-weight: 650;
   display: block;
   line-height: 50px;
   margin-right: 20px; /*отступ слева*/
}
.post-title {
   margin-bottom: 12px;
   font-size: 26px;
}



/* третий контейнер*/
.posts-list-two {
   margin-bottom: 30px;
   width: 80%;
   float: center;
   margin-left: 100px;
}

.post {
   margin-bottom: 35px;
}

.post-image {
   margin-bottom: 30px;
}
.category {
   margin-top: -55px;
   margin-bottom: 15px;
}
.category a {
   color: white;
 
   letter-spacing: 2px;
   font-weight: 650;
   display: block;
   line-height: 50px;
   margin-right: 20px; /*отступ слева*/
}
.post-title {
   margin-bottom: 12px;
   font-size: 26px;
}





.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: top;
  box-sizing: border-box;
  height: auto;
  margin: 0px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.wrapper .mus_container{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.image{
  box-sizing: border-box;
  width: 33.33%;
  margin: auto;
  padding: 20px;
  margin: 0;
  flex-shrink: 0;
}


@media (max-width:  1200px){
   .wrapper .mus_container{
      width: 100%;
   }
}

.container-three {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
   margin: 0 auto;
   width: 98%;
   padding: 0px 40px 0px 40px;
}


/* блок для статьи */
.post {
   margin-bottom: 35px;
}

.post-image1 {
   width: 30%;
   margin-bottom: 30px;
}
.category1 {
   margin-bottom: 15px;
   margin-top: -130px;
}
.category1 a {
   color: white;
   padding: 0 0px 0px 30px;
   letter-spacing: 2px;
   font-weight: 650;
   display: block;
   line-height: 50px;

}
.post-title {
   margin-bottom: 12px;
   font-size: 26px;
}
 
#logoname2 a { /* моя медиатека */
   color: #0E345A;
 
   letter-spacing: 1px;  /*расстояние между буквами  */
   font-weight: 600;   /* обводка текста ( насыщенность ) */
   display: block;
   margin-top: 25px;
   margin-left: 10px; /*отступ слева*/

   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}



#logoname2 .pricetag{
   border: 3px solid #629FE6;
   color: #629FE6;
   display: flex;
   height: 30px;
   width: 70px;
   border-radius: 1px;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-left: 0px;
   flex-shrink: 0;
}

#logoname2:nth-child(2){
   margin: 0 25px;
}

#logoname2 p{
   margin-bottom:5px;
   font-size: 17px;
 }
#logoname2 p1{
   margin-bottom:0; 
   font-weight: 1000px; 
   color: #A1A1A1;
   font-size: 14px;
}




form{
   position: relative;
   transform: translateX(-50%);
   transition: all 1s;
   width: 50px;
   height: 50px;
   background: white;
   box-sizing: border-box;
   border-radius: 25px;
   border: 4px solid white;
   padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

footer {
   padding: 30px 0;
   background: #3C3D41;
   color: white;
}
.footer-col {
   width: 33.3333333333%;
   float: left;
}
.footer-col a {
   color: white;
}
.footer-col:last-child {
   text-align: right;
}
.social-bar-wrap {
   text-align: center;
}
.social-bar-wrap a {
   padding: 0 7px;
   font-size: 18px;
}

footer {
   margin-top: 40px;
}


@media (max-width: 1000px){
   .container-three ul:nth-child(3){
      display: none;
   }
}
@media (max-width: 640px){
   .container-three ul:nth-child(2){
      display: none;
   }
   .container-two,
   .container-three{
      padding: 0 10px;
   }

   .container-three{
      justify-content: center;
   }

   .posts-list{
      width: 100%;
   }

   .wrapper{
      padding: 0;
   }

   .image{
      width: 50%;
   }.image:last-child{
      display: none;
   }

   nav.top p{
      display: none;
   }

   #menu a span{
      display: none;
   }

   #menu2 a{
      margin: 0;
      width: 100%;
      text-align: center;
      padding: 0;
   }
}